/* Reference: 
https://bootswatch.com/flatly/
https://bootswatch.com/4/flatly/bootstrap.css */

/* Makes the navbar smaller */
.navbar { padding-top: 0.1rem; padding-bottom: 0.1rem; }

#twitter_follow {
  margin-top: 50px;
  font-size: 110%;
}

.language_name {
  display: inline;
  vertical-align: middle;
  padding-left: 10px;
}

/* https://github.com/rstudio/shiny/issues/2988 */
#shiny-notification-panel {
  top: 0;
  bottom: unset;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 450px;
}

.shiny-notification {
  opacity: 1;
  text-align: center;
  font-size: 110%;
}


#map_sites {
  margin-top: 5px;
  width: 100%;
  border: 2px solid grey;
}

.cl-success {
  color: #2c3e50;
}

.cl-info {
  color: #f39c12;
}

.cl-warning {
  color: #f39c12;
}

.cl-warning a:link { color:#f39c12; text-decoration:none; font-weight:bold; }
.cl-warning a:visited { color: #f39c12; text-decoration:none; font-weight:bold; }
.cl-warning a:hover { color: #f39c12; text-decoration:underline; font-weight:bold; }
.cl-warning a:active { color: #f39c12; text-decoration:underline; font-weight:bold; }

.cl-fail {
  color: #e74c3c;
}

.section {
  margin-top: 30px;
  margin-bottom: 0;
  padding: 0;
  border-color: black;
  border-top-style: double;
  border-width: 3px 0 0 0;
}

#filter_box {
  min-width: 100%;
  padding-top: 2px;
  padding-right: 15px;
  padding-bottom: 2px;
  padding-left: 15px;
  position: relative;
}

#logo-img {
  width: 100%;
  margin-bottom: 20px;
}

#header-filter {
  width: 100%;
  padding-bottom: 20px;
}

.checklist {
  width: 300px;
}

.faq {
  width: 800px;
}

.tippy-content {
  background-color: rgba(0,0,0,0.03);
}

.filter_box_small {
  width: 300px;
}

.center {
  text-align: center;
}

.box_outputs {
  margin-bottom: 25px;
  border-style: solid;
  border-color: #7b8a8b;
  background-color: rgba(0,0,0,0.03);
  color: #212529;
  border-radius: .35rem;
}

.box_outputs_content {
  padding: 10px;
}

.h4_title {
  color: #ecf0f1;
  background-color: #7b8a8b;
  text-align: center;
  font-weight: 400;
  font-size: 110%;
  padding: 7px;
  margin-bottom: 5px;
}

.summary_filter_start {
  text-align: center;
}

.summary_filter_end {
  color: gray;
  text-align: center;
}

.box_summary {
  border: 2px solid #2c3e50;
  padding: 5px;
  border-radius: 6px;
  margin: 5px;
  background-color: rgba(0,0,0,0.03);
}

.right {
  float: right;
}

.numb {
   font-size: 150%; 
   color: #e74c3c;
}

/* quick access to different font sizes */
.f-50 { font-size: 50%; }
.f-60 { font-size: 60%;}
.f-75 { font-size: 75%;}
.f-85 { font-size: 85%;}
.f-100 { font-size: 100%; }
.f-115 { font-size: 115%; }
.f-125 { font-size: 125%; }
.f-150 { font-size: 150%; }
.f-200 { font-size: 200%; }

.smallcaps {
  font-variant: small-caps;
  font-weight: 900;
  font-size: 125%;
}

/* quick access to width */
.w-25 { width: 25%; }
.w-33 { width: 33%; }
.w-50 { width: 50%; }
.w-100 { width: 100%; }
