/* Reference: 
https://bootswatch.com/flatly/
https://bootswatch.com/4/flatly/bootstrap.css */

#shiny-notification-panel {
  top: calc(50%);
  left: calc(30%);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  font-size: 120%;
  opacity = 0.2;
}

.shiny-notification {
  opacity: 1;
  max-width: 600px;
}

#faq {
  margin-top: 15px;
}

#map_sites {
  margin-top: 5px;
  width: 100%;
  border: 2px solid grey;
}

.cl-success {
  color: #2c3e50;
}

.cl-info {
  color: #f39c12;
}

.cl-warning {
  color: #f39c12;
}

.cl-fail {
  color: #e74c3c;
}

.section {
  margin-top: 30px;
  margin-bottom: 0;
  padding: 0;
  border-color: black;
  border-top-style: double;
  border-width: 3px 0 0 0;
}

.box_filter {
  padding: 2px;
}

/* Otherwise the navbar is very tall */
.navbar-static-top{
  height: 60px;
}

#filter_box {
  min-width: 100%;
  padding-top: 2px;
  padding-right: 15px;
  padding-bottom: 2px;
  padding-left: 15px;
  position: relative;
}

#logo-img {
  width: 100%
}

#header-filter {
  width: 100%;
  padding-bottom: 20px;
}

#float_about {
  top: calc(2%);;
  right: calc(1%);;
  padding: 10px;
  z-index: 999999999;
  position: absolute;
}

.checklist {
  width: 300px;
}

.filter_box_small {
  width: 300px;
}

.center {
  text-align: center;
}

.box_outputs {
  margin-bottom: 45px;
  border-style: solid;
  border-color: #7b8a8b;
  background-color: rgba(0,0,0,0.03);
  color: #212529;
  border-radius: .25rem;
}

.h4_title {
  color: #ecf0f1;
  background-color: #7b8a8b;
  text-align: center;
  font-weight: 400;
  font-size: 110%;
  padding: 7px;
}

.summary_filter_start {
  text-align: center;
}

.summary_filter_end {
  color: gray;
  text-align: center;
}

.box_summary {
  border: 2px solid #2c3e50;
  padding: 5px;
  border-radius: 6px;
  margin: 5px;
  background-color: rgba(0,0,0,0.03);
}

.right {
  float: right;
}

.numb {
   font-size: 150%; 
   color: #e74c3c;
}

/* quick access to different font sizes */
.f-50 { font-size: 50%; }
.f-60 { font-size: 60%;}
.f-75 { font-size: 75%;}
.f-85 { font-size: 85%;}
.f-100 { font-size: 100%; }
.f-115 { font-size: 115%; }
.f-125 { font-size: 125%; }
.f-150 { font-size: 150%; }
.f-200 { font-size: 200%; }

.smallcaps {
  font-variant: small-caps;
  font-weight: 900;
  font-size: 125%;
}

/* quick access to width */
.w-25 { width: 25%; }
.w-33 { width: 33%; }
.w-50 { width: 50%; }
.w-100 { width: 100%; }
